*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body{
  background-color: #f3f5f8;
}

header ul{
  background-color: #ff6633;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding: 8px;

} 
header li{
  list-style: none;
  display: flex;
}
header li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}
header li a:hover{
  text-decoration: underline;
}
.verde{
  background-color: #008a28;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.verde img{
  height: 63px;
}
.verde input{
  padding: 15px 100px  15px 10px;
  border: none; 
  border-radius: 5px 0 0 5px;
  outline: none;
}
.buscar{
  display: flex;
}
.buscar i{
  background-color: #ff6633;
  padding: 15px;
  border-radius: 0 5px 5px 0;
}
.store{
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.store i{
  font-size: 24px;
}
.paragrafo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.paragrafo p{
  font-size: 13px;
  color: white;
}
.app{
  display: flex;
  align-items: center;
  gap: 10px;
}
.app i{
  border: 1px solid white;
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
}
.apple{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 
.apple p{
  font-size: 12px;
  color: white;
}
.login{
  display: flex;
  align-items: center;
  gap: 5px;
}
.link{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.link p{
  color: white;
  font-size: 13px;
}

.select{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.categorias{
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
 padding: 8px;
}
main{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin:0 auto;
}

.categorias a{
  text-decoration: none;
  color: black;
  padding: 8px;
}
#laranja{
  color: #ff6633;
}
.categorias a:hover{
  color: #ff6633;
  background-color: #f9f9f9;
 border-radius: 8px;
}
.buscar input{
  border: 1px solid #ff6633;
}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {

  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev01:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.mySlides01, .mySlides02 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow01 {
  
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev01, .next01 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next01 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev01:hover, .next01:hover {
  background-color: #f1f1f1;
  color: black;
}
.slideshow{
margin-top: 20px;}

.mySlides1{
  width: 1200px;
  height: 325px;
}



.itens{
  display: flex;
  gap: 8px;

  
}
.itens img{
  width: 193px;
}

.view{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.view h3{
  color: #008a28;
}
.view a{
  border: 1px solid #ff6633;
  color: #ff6633;
  padding: 10px 36px;
  text-decoration: none;
  border-radius: 8px;}

.cervejas{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
 
.itens-Cervejas{
  display: flex;
  padding: 20px;
  gap: 15px;
  flex-direction: column;
  background-color: #ffffff;
}
.itens-Cervejas img{
  height: 180px;
}
.itens-Cervejas p{
  font-size: 13px;
  font-weight: 400px;
}
.price{
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
}
.discount{
  background-color: #36bb69;
  padding: 2px;
  border-radius: 5px;
  position: relative;
  bottom: 7px;
  font-size: 12px;
}
.unidades{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.unidades P{
  font-size: 10px;
}
.itens-Cervejas a{
  background-color: #ff6633;
  padding: 10PX;
  color: white;
  text-decoration: NONE;
  border-radius: 8px;
  text-align: center;
}
.valores{
  display: flex;
  gap: 5px;
}
footer{
  margin-top: 40px;
}
.cards{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cards img{
  width: 190px;
  height: 250px;
  border-radius: 8px;
}
.promotion{
  background-color: #ff6633;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.sms{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.paragraph p{
  color: white;
  display: flex;
  align-items: flex-start;
}
.new{
  font-size: 18px;
  font-weight: bold;
}
.private{
  font-size: 10px;
}
.data{
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  gap: 5px;
}
.data input{
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.check{
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
}
.state select{
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
.promotion button{
  padding: 10px;
  border-radius: 8px;
  background-color: #008a28;
  border: none;
  outline: none;
  cursor: pointer;
}
.promotion button:hover{
  background-color: #36bb69;
}
.services{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}
.listas ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.listas a{
  text-decoration: none;
  color: gray;
}
.listas a:hover{
  text-decoration: underline;
}
.payment{
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
}
.visa, .application, .networks{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.imgCartao, .storeApple{
  display: flex;
  gap: 10px;
}
.imgCartao img{
  height: 23px;
  width: 30px;
}
.storeApple img{
  height: 40px;
  width: 120px;
}
.imgCards img{
  width: 32px;
  height: 32px;
}